<?xml version="1.0" encoding="UTF-8"?>


<html>
<head>
	<title>Home</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

	<link rel="stylesheet" type="text/css" href="/css/HPstyle.css"  />
	<link rel="stylesheet" type="text/css" href="/css/search.css"  />

<script src="/js/SlideTrans.js"></script>


</head>
<body>

	<div class="header">
		<div class="container">
		<div class="header-main">
			
				<div class="logo">
					<a href="../homepage"><h1>Better Trip</h1></a>
				</div>

				<div class="header-right">
					<div class="top-nav">
					<ul> 
						<li><a href="../">Home</a></li>
						<li><a href="../service">Service</a></li>
						<li><a href="../about">About</a></li>
					    <li><a href="../contact">Contact</a></li>
					</ul>
				</div>
			</div>
			</div>
</div>
</div>






				<div style="position:absolute;z-index:2;left:400px;top:250px"> 
<center><br><br><br><br>
	<ul class="nav">


		<li id="search">
			<form action="" method="get">
				<input type="text" name="search_text" id="search_text" placeholder="Search"/>
				<input type="button" name="search_button" id="search_button"></a>
			</form>
		</li>
		<li id="options">
			<a href="#">Options</a>
			<ul class="subnav">
				<li><a href="#">State</a></li>
				<li><a href="#">Spot</a></li>
			</ul>
		</li>
	</ul></center>



				</div>


<div id="imageopacity">
			<img src="/image/service.jpg" alt="serviceimage1"  sizes="16x16 32x32"/>
	
</div>









	










<br>
<br>












<div class="foot"><p>Copyright is reserved by...</p></div>




</body>
</html>










