<?xml version="1.0" encoding="UTF-8"?>


<html>
<head>
	<title>{{statename}}</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

	<link rel="stylesheet" type="text/css" href="/css/HPstyle.css"  />

</head>
<body>
	<div class="header">
		<div class="container">
		<div class="header-main">
			
				<div class="logo">
					<a href="../"><h1>Better Trip</h1></a>
				</div>

				<div class="header-right">
					<div class="top-nav">
					<ul> 
						<li><a href="../">Home</a></li>
						<li><a href="../service">Service</a></li>
						<li><a href="../about">About</a></li>
					    <li><a href="../contact">Contact</a></li>
					</ul>
				</div>
			</div>
			</div>
</div>
</div>


<img src="{{imagepath}}" alt="act photo"  sizes="16x16 32x32"/>

<br>
<br>
<br>



<div class="secondtitle"><p>{{statename}}</p>
</div>

<div class="destitle">
	<p >{{state_des_title}}</p>
</div> 



<div class="descontent"><p>{{ state_des_content}}</p></div>

<br>












<div class="foot"><p>Copyright is reserved by...</p></div>




</body>
</html>










